---
  title: Code
  body_classes: code
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %section.projects
    %h5 Here you can see various websites Robert has contributed to
    %p Click an image or name to navigate to the site
    .project
      = link_to 'http://www.searchforenergy.com', target: '_blank' do
        = image_tag 'code/s4e.jpg'
      .info
        = link_to 'http://www.searchforenergy.com', target: '_blank' do
          %h5 Search for Energy
        %p Technologies: Ruby on Rails, ZURB Foundation
        %p Responsibilities: Troubleshooting, additional pages and features as needed
    .project
      = link_to 'http://www.wedistill.io', target: '_blank' do
        = image_tag 'code/distill.jpg'
      .info
        = link_to 'http://www.wedistill.io', target: '_blank' do
          %h5 Distill
        %p Technologies: Ruby on Rails, ZURB Foundation, Amazon S3, Zencoder API
        %p Responsibilities: Frontend and user accounts, transcoding and player research
    .project
      = link_to 'http://www.maepower.com', target: '_blank' do
        = image_tag 'code/mae.jpg'
      .info
        = link_to 'http://www.maepower.com', target: '_blank' do
          %h5 MAE Power Equipment
        %p Technologies: Ruby on Rails, Spree Commerce
        %p Responsibilities: Site structure, homepage, contact form, e-commerce pages
    .project
      = link_to 'http://www.criticalhitarcade.com', target: '_blank' do
        = image_tag 'code/critical.jpg'
      .info
        = link_to 'http://www.criticalhitarcade.com', target: '_blank' do
          %h5 Critical Hit Arcade
        %p Technologies: LocomotiveCMS, pagePiling.js
        %p Responsibilities: Entire build
    .project
      = link_to 'http://www.iamsafety.com', target: '_blank' do
        = image_tag 'code/iamsafety.jpg'
      .info
        = link_to 'http://www.iamsafety.com', target: '_blank' do
          %h5 I Am Safety
        %p Technologies: Middleman, fullPage.js
        %p Responsibilities: Entire build
    .project
      = link_to 'http://www.axiomretailenergy.com', target: '_blank' do
        = image_tag 'code/axiom.jpg'
      .info
        = link_to 'http://www.axiomretailenergy.com', target: '_blank' do
          %h5 Axiom Retail Energy
        %p Technologies: Ember, Ghost Blog
        %p Responsibilities: Entire build
