---
  title: Photos
  body_classes: photos
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %section.gallery
    %h5 This gallery is a small showcase of Robert's photographic work over the years
    %p Click an image to view it in a larger resolution
    %a{href: "/images/photos/photo1.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb1.jpg")
    %a{href: "/images/photos/photo2.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb2.jpg")
    %a{href: "/images/photos/photo3.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb3.jpg")
    %a{href: "/images/photos/photo4.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb4.jpg")
    %a{href: "/images/photos/photo5.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb5.jpg")
    %a{href: "/images/photos/photo6.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb6.jpg")
    %a{href: "/images/photos/photo7.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb7.jpg")
    %a{href: "/images/photos/photo8.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb8.jpg")
    %a{href: "/images/photos/photo9.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb9.jpg")
    %a{href: "/images/photos/photo10.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb10.jpg")
    %a{href: "/images/photos/photo11.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb11.jpg")
    %a{href: "/images/photos/photo12.jpg", data: {lightbox: "photo"}}
      = image_tag("photos/thumb12.jpg")
