---
  title: Photos
  body_classes: photos
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %section.gallery
    %a{href: "/images/photo1.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb1.jpg")
    %a{href: "/images/photo2.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb2.jpg")
    %a{href: "/images/photo3.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb3.jpg")
    %a{href: "/images/photo4.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb4.jpg")
    %a{href: "/images/photo5.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb5.jpg")
    %a{href: "/images/photo6.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb6.jpg")
    %a{href: "/images/photo7.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb7.jpg")
    %a{href: "/images/photo8.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb8.jpg")
    %a{href: "/images/photo9.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb9.jpg")
    %a{href: "/images/photo10.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb10.jpg")
    %a{href: "/images/photo11.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb11.jpg")
    %a{href: "/images/photo12.jpg", data: {lightbox: "photo"}}
      = image_tag("thumb12.jpg")
